<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>CineHub - Page d'accueil</title>
</head>
<body>

<main layout:fragment="content">

    <p th:if="${error}" th:text="${error}"></p>

  <section th:if="${listOfCinemasByCountry} != null">
      <h3 th:if="${#lists.isEmpty(listOfCinemasByCountry)}">Aucun cinéma n'a été trouvé pour la ville de " <span th:text="${keyword}"></span> "</h3>

      <h3 th:if="${#lists.size(listOfCinemasByCountry)} > 1">On a trouvé <span th:text="${#lists.size(listOfCinemasByCountry)}"></span> cinémas dans la ville de " <span th:text="${keyword}"></span> ".</h3>

      <h3 th:if="${#lists.size(listOfCinemasByCountry)} == 1">On a trouvé <span th:text="${#lists.size(listOfCinemasByCountry)}"></span> cinéma dans la ville de " <span th:text="${keyword}"></span> ".</h3>

      <div th:if="${!#lists.isEmpty(listOfCinemasByCountry)}">
          <ul th:each="cinema:${listOfCinemasByCountry}">
              <li>
                  <a th:href="@{/cinema (id=${cinema.id})}" th:text="${cinema.name}"></a>
              </li>
          </ul>
      </div>
  </section>

    <section th:if="${listOfCinemasByName} != null">
        <h3 th:if="${#lists.isEmpty(listOfCinemasByName)}">Aucun cinéma n'a été trouvé avec le nom " <span th:text="${keyword}"></span> "</h3>

        <h3 th:if="${#lists.size(listOfCinemasByName)} > 1">On a trouvé <span th:text="${#lists.size(listOfCinemasByName)}"></span> cinémas avec le nom " <span th:text="${keyword}"></span> ".</h3>

        <h3 th:if="${#lists.size(listOfCinemasByName)} == 1">On a trouvé <span th:text="${#lists.size(listOfCinemasByName)}"></span> cinéma avec le nom " <span th:text="${keyword}"></span> ".</h3>

        <div th:if="${!#lists.isEmpty(listOfCinemasByName)}">
            <ul th:each="cinema:${listOfCinemasByName}">
                <li>
                    <a th:href="@{/cinema (id=${cinema.id})}" th:text="${cinema.name}"></a>
                </li>
            </ul>
        </div>
    </section>
</main>

</body>
</html>