<!DOCTYPE html>
<html lang="fr"
    xmlns:th = "http://thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <title>CineHub</title>
</head>
<body>
    <header>
        <ul>
            <li>logo</li>
            <li>input</li>
            <li>Dashboard</li>
            <li>Se connecter</li>
            <li>Se deconnecter</li>
        </ul>
    </header>

<main layout:fragment = 'content'>

</main>

<footer>
    <p>2025 © dalex.code</p>
</footer>
</body>
</html>