<!DOCTYPE html>
<html lang="fr"
    xmlns:th = "http://thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="../static/css/layout.css" th:href="@{css/layout.css}">
    <title>layout</title>
</head>
<body>
    <header>
        <nav class="navbar">
                <a class="logo" href="#">Cine<span>hub</span></a>

                <form th:action="@{/}" method="get">
                    <input
                        type="text"
                        name="keyword"
                        th:value="${keyword}"
                        placeholder="écrivez nom de ville ou cinema..."
                    >
                    <button type="submit">
                        <img src="/images/icons/loupe.png" alt="Icône" width="20" height="20">
                    </button>

                </form>

                <a href="#">Dashboard</a>

                <a href="#">Se connecter</a>

                <a href="#">Se déconnecter</a>
        </nav>
    </header>

<main layout:fragment = 'content'>

</main>

<footer>
    <p>2025 © dalex.code</p>
</footer>
</body>
</html>